<!DOCTYPE html>
<html>
<head>
  <title>FixmeBot</title>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@FixmeBot" />
  <meta name="twitter:title" content="[[<%= @article.title %>]]" />
  <meta name="twitter:description" content="<%= @article.twitter_card_description %>" />
  <meta name="twitter:image" content="https://fixmebot.wmflabs.org/<%= @article.screenshot_path %>" />
</head>
<body>

<%= yield %>

</body>
</html>
