<!DOCTYPE html>
<html>
<head>
  <title>FixmeBot</title>

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@FixmeBot" />
  <meta name="twitter:title" content="The Mountain is Out" />
  <meta name="twitter:description" content="Check out this awesome thing." />
  <meta name="twitter:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Mt._Rainier%2C_black_and_white_from_airplane.jpg/640px-Mt._Rainier%2C_black_and_white_from_airplane.jpg" />
</head>
<body>

<%= yield %>

</body>
</html>
